body {
  height: 97vh;
  width: 99vw;
  padding-left: 0.6vw;
}
/* header */
header {
  text-decoration: underline black;
  font-size: 36pt;
}
#meme {
  color: tomato;
  font-weight: 900;
}
#js {
  color: skyblue;
  font-style: italic;
}
/* #main */
#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/* article */
article {
  flex-grow: 1;
}
/* #meme-viewer */
#meme-viewer {
  display: flex;
  height: 100%;
}
#meme-viewer > * {
  height: 100%;
}
#meme-viewer > *:first-child {
  flex-grow: 1;
}
#meme-viewer > div {
  padding: 10px 5px;
  overflow-y: scroll;
  text-align: center;
  min-width: 300px;
}
#meme-viewer .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col > div {
  width: 48%;
}
.col input,.col button {
  width: 90%;
}

/* footer */
footer {
  text-align: center;
}


/* SVG CLASS */
.shadow{
    text-shadow: 10px 10px 10px black;
}
.stroke{
    stroke:white;
}